.crd {
  box-shadow: 2px 2px 30px lightsteelblue;
  border-radius: 10px;
  position: relative;
  margin-top: 30px;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: start;
}
