.common-color {
  color: #8200ad;
}
.container a button {
  font-weight: 500;
  color: white;
  background-color: #0043ffcc;
}
.banner h2 {
  font-family: "Macondo", cursive;
  font-family: "Poppins", sans-serif;
}
.banner p {
  font-family: "Macondo", cursive;
  font-family: "Roboto Flex", sans-serif;
}
